@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: "Shrikhand", serif;
    --fonte-secundario: "Exo 2", sans-serif;
    --Cinza-Cinza: #cad2c5ff;
    --Azul-Cambridge: #84a98cff;
    --Verde-de-Hooker: #52796fff;
    --Cinza-Ardósia-Escuro: rgb(38, 101, 108);
    --Carvão: #2f3e46ff;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--Cinza-Ardósia-Escuro);
}

h1,h3{
    font-family: var();
}